<div>
  <form (ngSubmit)="getPost(f)" #f="ngForm">
    <input type="number" name="postId" required min="1" max="100" ngModel />
    <button type="submit" [disabled]="f.invalid">GET</button>
    <button type="button" [disabled]="f.invalid" (click)="deletePost(f)">
      DELETE
    </button>
    {{msg}}
  </form>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" style="display: flex; flex-direction: column;">
    <label>titre :</label>
    <input
      type="text"
      id="title"
      formControlName="title"
      value="{{ post.title }}"
    />
    <label>texte :</label>
    <textarea formControlName="body"></textarea>
    <label>auteur : {{ post.userName }}</label>
    <div>
      <button type="submit" [disabled]="form.invalid">POST (add)</button>
      <button type="button" [disabled]="form.invalid" (click)="updatePost()">
        PUT (update)
      </button>
      <button type="reset" (click)="resetForm()">Reset</button>
    </div>
  </form>
</div>
